#landingPage {
  position: relative;
  min-height: 100vh;
  background: url(./Pics/landingbackg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#projects {
  min-height: 100vh;
  background: url(./Pics/projectsbackg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#aboutMe {
  min-height: 100vh;
  background-color: bisque;
}

#scene {
  color: pink;
}

.moon {
  width: 10%;
  margin-left: 200px;
}

/* .myName {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  top: 50%;
} */

.buttonProject, .buttonaboutMe {
  border: none;
  color: white;
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.myName {
  position: absolute;
  width: 100%;
  top: 30%;
}

.myName_i {
  width: 15%;
  fill: pink;
}

.myName_zab {
  width: 20%;
}

.myName_el {
  width: 11%;
  margin-bottom: 100px;
}

.landingPage__buttons {
  display: flex;
    height: 100;
    position: absolute;
    width: 100%;
    top: 50%;
}

#rotateRight{
  flex-direction: column;
  margin-left: auto;
  align-self: center;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}
#rotateLeft{
  align-self: center;
  transform:rotate(-7deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
}